.card {
    width: 18rem;
}

.img-container {
    height: 24rem;
    width: 100%;
}

.img-container-mini {
    height: auto;
    width: 9rem;
}


.img-container .card-img-top, .img-container-mini img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#details {
    position: relative;
}

.close {
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
}

.details .my-0 {
    font-size: 13px;
}

.details .alias {
    font-size: 15px;
}

.bar-ext {
    background-color: red;
    height: 5px;
    width: 100%;
}

.bar-int {
    background-color: green;
    height: 100%;
}

@media (max-width: 286px){

    .card {
        width: 12rem;       
    }

    .img-container {
        height: 16rem;
    }
}