<div class="container">
    <h2 class="h2 fw-bold text-primary text-center">Search Hero</h2>
    <div class="row justify-content-center">
        <form action="" class="col-md-6">
            <div>
                <label for="name" class="form-label">Hero's name</label>
                <input id="name" class="form-control" type="text" placeholder="e.g. Batman">
            </div>
            <button class="btn btn-primary mt-2" (click)="searchHeros()">Search</button>
        </form>
    </div>
</div>
